@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.header {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header_information span{
    font-family: "EncodeSans-Bold";
}
.header_login{
    background: violet; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.header_login img{
    width: 100%;
    object-fit: contain;
}
nav{

    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_search{
    position: relative;
}
.nav_search input{
    outline: none;
    width: 263px;
    height: 50px;
    border-radius: 5px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 1px solid var(--color-3);
}
.nav_filter{
    background: var(--color-1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}
.nav_filter img{
    position: absolute;
    inset: 0;
    margin: auto;
}
.search_icon{
    position: absolute;
    display: block;
    bottom:  .6rem;
    left: .8rem;
    user-select: none;
    cursor: pointer;
}
.main{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 15px;
}

.nav_ul{
    /* background: darkgray; */
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll; 
    
}
.nav_ul li{
    list-style: none;
}
.nav_ul li a{
    width: 105px;
    height: 40px;
    font-family:  "EncodeSans-Medium";
    /* background: orange; */
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--color-3);
    color: var(--color-1);
    background: var(--color-5);
}
.nav_ul li a:hover{
    filter: invert(1);
}
.footer{
    /* background: red; */
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: var(--space-layout-padding-lr);
}
.footer_ul{
    background: var(--color-2);
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 0px 55px 10px var(--color-5);
}
.footer_ul li {
    list-style: none;
    background: var(--color-1);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_ul li a {
    display: flex;
}
.footer_ul li a img{
    object-fit: contain;
}

.main_article{
    height: 70vh;
    margin-top: 15px;
    padding-bottom: 12vh;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;

}
.main_article section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: green; */
    width: 48%;
    /* height: 380px; */
    margin-bottom: 4%;
}
.section_front_page{
    position: relative;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 14px;
    width: var(--layout-imagen-width);
    height: var(--layout-imagen-height);
    overflow: hidden;

}
.section_front_page img{
    position: absolute;
}
.section_front_page a img:first-child{
    width: var(--layout-imagen-width);
    height: var(--layout-imagen-height);
    object-fit: cover;
}
.section_front_page > img:last-child{
    top: 10px;
    right: 10px;
    background: var(--color-1);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    padding: 5px;

}
.main_article section h5{
    font-family: "EncodeSans-SemiBold";
    color: var(--color-2);
    margin-bottom: 9px;
}
.main_article section small{
    color: var(--color-3);
}
.main_article section h5,
.main_article section small{
    align-self: flex-start;
}
.section_price{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color-2);
    margin-top: 10px;
}
.section_price span{
    font-family: "EncodeSans-SemiBold";
}
.price_score{
    display: flex;
    gap: 5px;
}
.main_article section:nth-child(4n+1),
.main_article section:nth-child(4n+4){
    /* background: orange; */
    height: 380px;
}

.main_article section:nth-child(4n-1){
    /* background: violet; */
    margin-top: -54px;
}
