<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
            <nav class="header_nav">
                <div>
                    <a href="../views/detail.html">
                        <img src="../storage/img/back.svg" alt="">
                    </a>
                </div>
                <div>Checkout</div>
                <div>
                    <img src="../storage/img/sidebar.svg" alt="">
                </div>
            </nav>
        </li>
    </header>
    <main class="main">
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img3.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img1.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>1</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img2.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img3.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img1.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>1</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="checkout_details">
            <article class="details_product">
                <div class="product_imagen">
                    <img src="../storage/img/img2.png">
                </div>
                <div class="product_description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product_custom">
                        <img src="../storage/img/option.svg">
                    <div class="product_select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>