<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">
        <section class="main_section">
            <article class="article_product">
                <div class="product_image">
                    <img src="../storage/img/image 43.svg">
                </div>
                <div class="product_menu">
                    <a href="../index.html">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heartBlack.svg">
                </div>
            </article>
        </section>
        <section class="main_section">
            <article class="article_detail">
                <div class="detail_head">
                    <h1>Modern light clothes</h1>
                    <div class="product_select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg">
                    </div>
                </div>
                <div class="detail_score">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <span>5.0</span>
                    <a href="#">(7.9323 reviews)</a>
                </div>
            </article>
        </section>
        <section class="main_section">
            <article class="product_information">
                <p>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes <strong>Read More ...</strong></p>
            </article>
            <hr>
        </section>
        <section class="main_section">
            <article class="product_custom">
                <div class="product_size">
                    <h5>Choose Size</h5>
                    <div>
                        <img src="../storage/img/Choose Size S.svg">
                        <img src="../storage/img/Choose Size M.svg">
                        <img src="../storage/img/Choose Size L.svg">
                        <img src="../storage/img/Choose Size XL.svg">
                    </div>
                </div>
                <div class="product_color">
                    <h5>Color</h5>
                    <div>
                        <img src="../storage/img/Color Grey.svg">
                        <img src="../storage/img/Color Black 1.svg">
                        <img src="../storage/img/Color Black 2.svg">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer_ul">
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $100.99 <del><sub>$190.99</sub></del></span>
                </a>
            </li>
        </ul>
       </footer>
</body>
</html>